.control-bar__modal {
  background-color: white;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #2c2c34;
  height: 100vh;
  outline: none;
  width: 34rem;
}

.control-bar__selects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.control-bar__selects select {
  border-radius: 1rem;
  height: 2rem;
  padding: 0.5rem;
  width: 70%;
}
