.modal {
  -webkit-animation: slideModal 0.5s forwards;
  animation: slideModal 0.5s forwards;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 14rem;
  left: 50%;
  padding: 2rem;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 0;
  width: 30rem;
}

@-webkit-keyframes slideModal {
  100% {
    top: 50%;
  }
}

@keyframes slideModal {
  100% {
    top: 50%;
  }
}
