@import "./resets";
@import "./variables";

body {
  background-color: colors(dark);
  color-scheme: dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.icon {
  cursor: pointer;
  margin: 2rem;
  width: 2rem;
}
